@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-12">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                @* <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                <label asp-for="Input.OldPassword" class="form-label"></label> *@
                <ejs-textbox id="oldpassword" placeholder="Old Password" ejs-for="Input.OldPassword" autocomplete="current-password" required="true" placeholder="Please enter your old password." floatLabelType="Always"></ejs-textbox>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                @* <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <label asp-for="Input.NewPassword" class="form-label"></label> *@
                <ejs-textbox id="newpassword" placeholder="New Password" ejs-for="Input.NewPassword" autocomplete="new-password" required="true" placeholder="Please enter your new password." floatLabelType="Always"></ejs-textbox>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                @* <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
                <label asp-for="Input.ConfirmPassword" class="form-label"></label> *@
                <ejs-textbox id="confirmpassword" placeholder="Confirm Password" ejs-for="Input.ConfirmPassword" autocomplete="new-password" required="true" placeholder="Please confirm your new password." floatLabelType="Always"></ejs-textbox>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @* <button type="submit" class="w-100 btn btn-primary">Update password</button> *@
            <ejs-button id="submit" content="Submit" cssClass="w-20 me-2 w-100 btn e-primary">
                <e-content-template>Update password</e-content-template>
            </ejs-button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
