@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-12">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <div class="d-flex justify-content-between">
            <form id="download-data" asp-page="DownloadPersonalData" method="post" class="flex-fill me-2">
                <button class="btn btn-primary w-100" type="submit">Download</button>
            </form>
            <div class="flex-fill ms-2">
                <a id="delete" class="btn btn-danger w-100" asp-page="DeletePersonalData">Delete</a>
            </div>
        </div>

        @* <p>
        <a id="delete" class="btn btn-danger" asp-page="DeletePersonalData" >Delete</a>
        </p> *@
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
