@using BudgetWise.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var firstName = user?.FirstName;
}

<div class="d-flex align-items-center justify-content-between flex-nowrap">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="nav-item" id="username-container">
            <a id="manage" class="nav-link text-light px-2 text-truncate text-truncate-custom" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @firstName!</a>
        </div>
        <div class="vr me-2 ms-2 d-none d-lg-block"></div>
        <div class="nav-item me-2">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-light border-0 px-2">Logout</button>
            </form>
        </div>
    }
    else
    {
        <div class="nav-item">
            <a class="nav-link text-light px-2" href="@Url.Action("About", "Home")">About</a>
        </div>
        <div class="vr me-2 ms-2 d-none d-lg-block"></div>
        <div class="nav-item">
            <a class="nav-link text-light px-2" href="/">Demo</a>
        </div>
        <div class="vr me-2 ms-2 d-none d-lg-block"></div>
        <div class="nav-item">
            <a class="nav-link text-light px-2" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
        <div class="vr me-2 ms-2 d-none d-lg-block"></div>
        <div class="nav-item">
            <a class="nav-link text-light px-2" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    }
</div>
